.clear{
	
	clear:both;
}

#boxCadastre-se{
	width:30%;
	float:left;
	border:2px;
}
table, tr, td{
	background: #B0C4DE;
	border:0px;
}
body{

	color:black;
	background: #CFCFCF;
	margin: 0 auto;
	text-align: center;
}


#boxImagem{

}
.panel{
	background: #AFEEEE;
	border:0px;
	
}

#boxFornecedor{
	width:30%;
	float:left;
	border:2px;
}
#boxImagem1{

}
#boxContato{
	width:30%;
	float:left;
	border:2px;
	background:#B0C4DE;
}
table, tr, td{
	background: #B0C4DE;
	border:0px;
}
body{

	color:black;
	background: #CFCFCF;
	margin: 0 auto;
	text-align: center;
}